{{ define "header" }}<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="alternate" type="application/atom+xml" title="{{ html .Site.Other.Title }} feed" href="{{ .Rel "blog.atom" }}">
  <title>{{ if .Title }}{{ .Title }} &mdash; {{else if .Other.Author}}{{.Other.Author}} &mdash; {{ end }}{{ .Site.Other.Title }}</title>
  <meta property="og:title" content="{{ if .Other.Author }}{{ .Other.Author }}{{ else if .Title }}{{ .Title }}{{ else if .Site.Other.Title }}{{ .Site.Other.Title }}{{ end }}" />
  <meta property="og:url" content="{{ .Site.Other.Url }}" />
  <meta property="og:site_name" content="{{ .Site.Other.Title }}" />
  <meta property="og:description" content="{{ if .Other.Description -}}
    {{ .Other.Description }}
  {{- else -}}
        {{ with cut "<div class=\"content\".*?>" "</div>" .Content }}{{ excerpt . 30 | trim | strip_html }}{{ end }}
  {{- end }}">
  <link rel="stylesheet" type="text/css" href="{{ .Rel "static/style.css" }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="main">
{{ end }}

{{ define "footer" }}
</div>
<div class="navbar bar">
  <div class="left">
    <a href="{{ .Site.Other.Url }}">home</a>
    <a href="https://git.alnn.xyz/">git</a>
  </div>
  <div class="right">
    <a href="mailto:alan@alnn.xyz">mail</a>
  </div>
</div>
<div class="footer bar">
  <div class="left">
    <a href="{{ .Rel "blog.atom" }}">atom feed</a>
  </div>
</div>
</body>
</html>
{{ end }}

{{define "date"}}
<time datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
  {{ .Format "2006, January 02" }}
</time>
{{end}}

{{define "filter"}}{{ exectext "sh" "./scripts/hyperlinks.sh" . }}{{ end }}

{{ define "page" }}{{ template "header" . }}
  {{ .Content }}
{{ template "footer" . }}{{ end }}

{{ define "post-index" }}
<div class="post" id="{{ .Date.Unix }}">
  <div class="post-body">
    <div class="info">
      <b>{{ .Other.Author }}</b>
      <a href="{{ .Rel .Url }}">{{ template "date" .Date }}</a>
    </div>
    <div class="content">
    {{ template "filter" .Raw }}
    </div>
    {{ if .Other.Image }}
    <div class="grid">
    {{ range split "," .Other.Image }}
      <a href="{{ . }}"><img src="{{ . }}"></a>
    {{ end }}
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
 
{{ define "post" }}
<div class="post">
  <div class="post-body">
    <div class="info">
    <b>{{ .Other.Author }}</b>
    <a href="{{ .Rel "/" }}#{{ .Date.Unix }}">{{ template "date" .Date }}</a>
    </div>
    <div class="content">
    {{ template "filter" .Raw }}
    </div>
    {{ if .Other.Image }}
    <div class="images">
    {{ range split "," .Other.Image }}
      <a href="{{ . }}"><img src="{{ . }}"></a>
    {{ end }}
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
