body {
  margin: 0;
  font-family: sans-serif;
  background-color: #32302f;
}

.main {
  max-width: 450px;
  position: relative;
  width: 100%;
  padding-top: 3em;
  padding-bottom: 3em;
  margin: auto;
}

.bar {
  background-color: #282828;
  color: #ffffff;
  position: fixed;
  overflow: hidden;
  padding: 0.25em;
  left: 0;
  right: 0;
}

.bar a {
  text-decoration: none;
  color: white;
}

.navbar {
  top: 0;
  border-bottom: 1px solid #1d2021;
}

.footer {
  border-top: 1px solid #1d2021;
  bottom: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.post {
  cursor: pointer;
  position: relative;
  overflow: auto;
  word-wrap: break-word;
  padding: 0.5em;
  border: 1px solid #1d2021;
  border-bottom: 1px solid rgba(255,255,255,.25);
  background-color: #282828;
  color: white; 
}

.post a {
  color: skyblue;
}

.post:first-child {
  border-top: 1px solid #1d2021;
}

.post:last-child {
  border-bottom: 1px solid #1d2021;
}

.info time {
  float: right;
} 

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
