body {
  margin: 0;
  font-family: sans-serif;
  background-color: #32302f;
}

.main {
  max-width: 450px;
  position: relative;
  width: 100%;
  padding-top: 3em;
  padding-bottom: 3em;
  margin: auto;
}

.bar {
  background-color: #282828;
  color: #ffffff;
  position: fixed;
  overflow: hidden;
  padding: 0.25em;
  left: 0;
  right: 0;
}

.bar a {
  text-decoration: none;
  color: white;
}

.navbar {
  top: 0;
  border-bottom: 1px solid #1d2021;
}

.footer {
  border-top: 1px solid #1d2021;
  bottom: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.post {
  position: relative;
  overflow: auto;
  word-wrap: break-word;
  padding: 0.5em;
  border: 1px solid #1d2021;
  border-bottom: 1px solid rgba(255,255,255,.1);
  border-top: 1px solid rgba(255,255,255,.1);
  background-color: #282828;
  color: white; 
}

.content a {
  color: skyblue;
}

.info a {
  color: rgba(255,255,255,.8);
  text-decoration: none;
}

.post:first-child {
  border-top: 1px solid #1d2021;
}

.post:last-child {
  border-bottom: 1px solid #1d2021;
}

.grid { 
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: #1d2021;
  padding: 0.5em;
}

.grid a img {
  height: 100%;
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
}
